
22_SL_Capstone/drive_stats_2019_Q1_interested.csv
22_SL_Capstone/drive_stats_2019_Q1_full.csv
22_SL_Capstone/drive_stats_2019_Q1_interpolated.csv
22_SL_Capstone/datasets/drive_stats/2018/data_Q1_2018.zip
22_SL_Capstone/df_ints.csv
23_Unsupervised_Learning/beginner_datasets/pycaret_datasets.xlsx
Final_Project/datasets/drive_stats/test/hard-drive-failure_test_test-000000000002.csv
Final_Project/datasets/drive_stats/test/hard-drive-failure_test_test-000000000000.csv
Final_Project/datasets/drive_stats/test/hard-drive-failure_test_test-000000000001.csv
*.dat
*.csv
