
22_SL_Capstone/drive_stats_2019_Q1_interested.csv
22_SL_Capstone/drive_stats_2019_Q1_full.csv
22_SL_Capstone/drive_stats_2019_Q1_interpolated.csv
22_SL_Capstone/datasets/drive_stats/2018/data_Q1_2018.zip
